html {
  font-family: "Open Sans", serif;
}

.banner {
  background-image: url("../images/close-up-lion.jpg");
  background-repeat: no-repeat;
}

.banner-content {
  font-family: 'Montserra', sans-serif;
  color: #fff;
  text-shadow: 0 1px 10px #4d4751;
}

.btn {
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  text-shadow: 0 1px 3px #4d47512a;
}

.btn-ghost {
  padding: .3em .5em;
  border: solid 1.5px #fff;
}

.btn-ghost:hover,
.btn-ghost:focus {
  background-color: #fff;
  color: #160b02;
  border-color: #fff;
}

h3 {
  color: rgb(128, 0, 53);
}

.masthead,
.footer {
  background-color: #fff9f9;
  color: rgb(128, 0, 53);
}

.nav a {
  color: rgb(128, 0, 53);
  text-decoration: none;
}

.nav a:hover {
  border-bottom: .15em solid currentColor;
}

.logo {
  width: 64px;
  text-decoration: none;
  color: rgb(128, 0, 53);
}
