html {
  font-family: "Open Sans", serif;
}

.banner {
  background-image: url("../images/close-up-lion.jpg");
  background-repeat: no-repeat;
}

.banner-content {
  font-family: 'Montserra', sans-serif;
  color: #fff;
  text-shadow: 0 1px 10px #4d4751;
}

.btn {
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.btn-ghost {
  padding: .5em;
  border: solid 1.5px #fff;
  transition: all .2s linear;
  transform-origin: left top;
}

.play-button {
  color: #fff;
}

.logo {
  text-decoration: none;
  color: rgb(128, 0, 53);
}

h3 {
  color: rgb(128, 0, 53);
}

.masthead,
.footer {
  background-color: #eeeeee;
  color: rgb(128, 0, 53);
}

.nav a {
  color: rgb(128, 0, 53);
  text-decoration: none;
}

.nav a:hover {
  border-bottom: .15em solid currentColor;
}

.logo {
  width: 64px;
}
